a:link {text-decoration:none; color:black;}
a:visited {text-decoration:none; color:black;}
a:hover {text-decoration:none; color:black;}
a:active {text-decoration:none; color:black;}

body
{
	background-image:url('../views/images/ItemShoppe/stripe.jpg');
	background-repeat:repeat-x;
}

.iGlobalContainer
{
	box-shadow:0px 0px 12px #000;
	background-image:url('../views/images/ItemShoppe/noiseBG.jpg');
	border-radius:15px;
	border:10px inset #000;
	opacity:0.8;
}

.iLogo
{
	height:230px;
	margin:0px;
	margin-top:35px;
	background-image:url('../views/images/ItemShoppe/logo.png');
	
}

.iSidePanel
{
	min-height:400px;
	margin:0px;
	margin-top:25px;
	font-family: 'baroquescript-webfont', Arial, sans-serif; 
	
}

.iHeader
{
	min-height:125px;
	margin:0px;
	margin-bottom:0px;
	background-image:url('../views/images/ItemShoppe/header.png');
}

.returnButton
{
	float:right;
	width:160px;
	height:130px;
	
	border-bottom-left-radius:150px;
	border-bottom-right-radius:80px;
	box-shadow:0px 0px 12px #000;
	background-color:black;
	color:white;
	margin-top:0px;
}

.iContent
{
	min-height:230px;
	margin:0px;
	margin-top:10px;
	
}

.iDivider
{
	width:100%;
	height:1px;
	background-color:#a4a4a4;
	margin-top:10px;
	margin-bottom:10px;
}

.panelButton
{
	margin-top:10px;
	margin-bottom:10px;
	color:black;

}

.panelButton:hover
{
	-webkit-transition:All 0s ease;
	-moz-transition:All 0s ease;
	-o-transition:All 0s ease;
	
	background-color:#5a5a5a;
	color:white;
}


.panelHeading
{
	margin-top:10px;
	margin-bottom:10px;
	color:black;
}


.shoppeItemHolder
{
	background-color:white; 
	border-radius:4px;
	box-shadow:0px 0px 10px #000;
	height:160px;
	width:222px;
	border: 2px solid #404040;
	
	float:left;
	
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
}

.shoppeItemHolder:hover
{
	-webkit-transition:All 0s ease;
	-moz-transition:All 0s ease;
	-o-transition:All 0s ease;
	
	border: 2px solid #fff;
	box-shadow:0px 0px 35px #000;
	background-color:#404040;
	color:white;
}

.itemshoppeInputText
{
	width:170px;
	height:20px;
	color:white;
	background-color: #2f2f2f;
	border:thin solid #000;
	margin-top:2px;
}


.itemshoppeInputText:focus
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	
	background-color: #000;
}

.itemShoppeSubmit
{
	background-color:white;
	height:52px;
	width:50px;
	margin-top:1px;
	margin-left:2px;
}

.itemLabel
{
	font-weight:bold; 
	margin-top:5px;
}

.itemImage
{
	background-color:white; 
	height:100px; 
	width:75px; 
	margin-top:10px;  
	margin-left:10px; 
	border:thin dashed #000; 
	float:left;
}

.itemDetails
{
	margin-top:10px; 
	width: 120px; 
	min-height: 100px;
	float:left; 
	margin-left:10px;
}

.purchaseButton
{
	background-color:#fff;
	box-shadow:0px 0px 10px #000;
	border-radius:30px;
	margin-left:20px;
	height:20px;
	width:75px;
	color:black;
}


